@import url('https://fonts.googleapis.com/css2?family=Alegreya&family=Alegreya+Sans&family=Merriweather&family=Merriweather+Sans&family=Nunito&family=Nunito+Sans&family=Quattrocento&family=Quattrocento+Sans&family=Roboto&family=Roboto+Mono&family=Roboto+Slab&display=swap');
/* font family from google fonts */
*{  /*base formatiing for page*/
  padding: 0;
  Margin: 10px 10px 10px 10px;
  background-color: blue;
}

h1  { /*style for h1 element*/
  text-align: center;
  font-size: 50px;
  font-family: "Alegreya Sans", cursive;
  width: 100%;
}
h2  {  /*style h2 element*/ 
  text-align: center;
  font-size: 30px;
  color: gray;
  font-family: 'Nunito', sans-serif;
  width: 100%;
}
h3  {
   text-decoration: underline;
   color: gray;
   font-size: 24px;
   text-align:  center;
   font-family: 'Roboto Slab',cursive;
}
h4  {
    color: gray;
   font-size: 18px;
   font-family: 'Quattrocento Sans', fantasy;
}
p {;
  text-align: center;
  color: gray;
  font-family:  'Quattrocento', "times new roman";
}
ol {
  color: gray;
  font-size: 16px;
  font-family: 'Alegrey',cursive;
}
header{
  text-align: center;
  font-size: 40px;
  font-family: 'Quattrocento', cursive;
  color: gray;
  width: 100%;
}
ul {
  text-decoration: underline;
}
form  {
  display: table;
  margin: auto;
}  

.photo {
  display: "viewport";
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  border: 5px solid black;
  border-radius: 50%;
}
.intro {
  border: 5px solid black;
  width: 100%;
}
.about{
  border: 5px solid black;
  width: 100%;
}
.contact {
  border: 5px solid black;
  text-align: center;
  width: 100%;
  }
.info {
  border: 5px solid black;
  text-align: center;
  font-size: 20px;
  width: 100%;
  }
nav {
  text-align: center;
  font-size: 20px;
  text-decoration: ;;
  width: 100%;
  margin: auto;
  }
.maps {
  width:100%;
  }
