@import url('https://fonts.googleapis.com/css2?family=Alegreya&family=Alegreya+Sans&family=Merriweather&family=Merriweather+Sans&family=Nunito&family=Nunito+Sans&family=Quattrocento&family=Quattrocento+Sans&family=Roboto&family=Roboto+Mono&family=Roboto+Slab&display=swap');
/* font family from google fonts */


*{  /*base formatiing for page*/
  padding: 0;
  Margin: 10px 10px 10px 10px;
  background-color: azure;
}

/*style header */
header{
  text-align: center;
  font-size: 40px;
  font-family: 'Quattrocento', cursive;
  color: midnightblue;
  width: 100%;
}
/*style for nav*/
nav {
  text-align: center;
  font-size: 20px;
  width: 100%;
  margin: auto;
  }
/*style for seperate tags and articles */

h1  { /*style for h1 element*/
  text-align: center;
  font-size: 45px;
  font-family: "Alegreya Sans", cursive;
  width: 100%;
}
h2  {  /*style h2 element*/ 
  text-align: center;
  font-size: 40px;
  color: dimgray;
  font-family: 'Nunito', sans-serif;
  width: 100%;
}
h3  {   /*style h3 element*/
   text-decoration: underline;
   color: dimgray;
   font-size: 34px;
   text-align:  center;
   font-family: 'Roboto Slab',cursive;
}
h4  {   /*style h4 element*/
    color: dimgray;
   font-size: 32px;
   font-family: 'Quattrocento Sans', fantasy;
}
/* stle for p elements*/

p {
  text-align: center;
  color: dimgray;
  font-family:  'Quattrocento', "Comic Sans Ms";
  font-weight: 600;
  font-size: 24px;
}
/*style ordered list*/
ol {
  color: dimgray;
  font-size: 20px;
  font-family: 'Alegrey',cursive;
}
/*style unordered list*/
ul  {
  color: dimgray;
  font-size: 20px;
  font-family: 'Alegrey',cursive;
}
/*style form*/
form  {
  display: table;
  margin: auto;
}  
/*styles by class*/
.photo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  border: 5px solid black;
  border-radius: 50%;
}
.intro {
  border: 5px solid black;
  width: 100%;
}
.about{
  border: 5px solid black;
  width: 100%;
}
.contact {
  text-align: center;
  width: 100%;
  }
.info {
  text-align: center;
  font-size: 20px;
  width: 100%;
  }
/*psuedo class styled links*/
a:lnik{
  color: red;
}
a:visited {
  color: green;
}
a:hover {
  color: tomato;
}
a:active {
  color: silver;
}
/*style for embeded map*/
.maps {
  width:100%;
  margin:auto;
  }
